<div class="jumbotron">
  <h1>Hello, World!</h1>

  <img src="http://betamore.com/wp-content/themes/betamore/img/betamore-fb.jpg" />

  <p>
    <a href="http://google.com" class="btn btn-lg btn-primary">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Google
    </a>
  </p>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">Hello</a>
  <a href="tables" class="list-group-item">Tables</a>
  <a href="forms" class="list-group-item">Forms</a>
  <a href="http://betamore.com" class="list-group-item">Betamore</a>
</div>
